<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/styles.css">

<div class="post-container">

<div class="post">
  <h1><%= title %></h1>
  <img src="<%= imageUrl %>" alt="Post Image">

  <p class="category">Category: <%= category %></p>
  <div class="content">
    <%= content %>
  </div>

  <!-- Comments section -->
  <div class="comments-container">

  <div class="comments">
    <h3>Comments</h3>
    <% comments.forEach((comment) => { %>
      <div class="comment">
        <h4><%= comment.name %></h4>
        <p><%= comment.content %></p>
        <p class="timestamp"><%= comment.timestamp %></p>
      </div>
    <% }) %>
  </div>
</div>
  <!-- Form for leaving a comment -->
  <div class="leave-comment">
    <h2>Leave a Comment</h2>
    <form action="/posts/<%= postId %>/comments" method="post">
      <div class="form-group">
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="content" id="comment" class="form-control" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
  </div>
  
  <!-- Next and Previous Buttons -->
  <div class="navigation-container">

    <% if (prevPostId) { %>
      <a href="/posts/<%= prevPostId %>"><button class="btn btn-secondary">Previous</button></a>
    <% } %>
    <% if (nextPostId) { %>
      <a href="/posts/<%= nextPostId %>"><button class="btn btn-secondary ">Next</button></a>
    <% } %>
</div>
</div>
</div>

<%- include("partials/footer"); -%>
